<footer class="container-fluid bg-light">
    <div class="row">
       <div class="col">
       Colonne 1
    </div>
    <div class="col">
       Colonne 2
    </div>
    <div class="col">
       Colonne 3
    </div>
</footer>